.App {
    text-align: center;
}

.App-header {
    background-color: #282c34;
    min-height: 10vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.diceTray {
    display: flex;
    padding: 50px;
    flex-direction: column;

    .diceContainer {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap
    }

    .inputRow {
        display: flex;
        flex-direction: column;
        width: 100%;
        padding: 20px;
        align-items: center;

        .number {
            margin: 5px;

            .numberFound {
                font-weight: bold;
                text-decoration: underline
            }
        }


        input {
            margin-top: 10px;
            margin-bottom: 10px;
            max-width: 200px;
        }

        button {
            margin-bottom: 10px
        }
    }
}


.dieBox {
    padding: 10px;
    background: red;
    display: flex;
    height: 50px;
    width: 50px;
    border: 5px solid black;
    margin: 10px;

    .filler {
        height: 50px;
        width: 10px;
        display: flex;
    }

    .dieGrid {
        height: 10px;
        width: 10px;
        display: flex;

        &.diePip {
            background: black
        }
    }
}